{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Billiard social</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
</head>
<body>
	<br>
    <div id='logo'><img src="{% static 'billiards.jpg' %}"></div>
	{% if loggedin %}
    <div class='appname'>{{ appname }}(User:{{ username }}) </div>
	{% else %}
    <div class='appname'>{{ appname }}</div>
    {% endif %}

	<br>
	<ul class='menu'>
		{% if loggedin %}
        <a href='/social/members/?view={{ username }}'><li>Home</li></a>
        <a href='/social/members/'><li>Members</li></a>
        <a href='/social/friends/'><li>Friends</li></a>
        <a href='/social/profile/'><li>Edit Profile</li></a>
        <a href='/social/logout/'><li>Log out</li></a><br>
		{% else %}
		<a href='/social/'><li>Home</li></a>
		<a href='/social/signup/'><li>Signup</li></a>
		<a href='/social/login/'><li>Log in</li></a>
		{% endif %}
	</ul>
	<br>
	{% block content %}
	{% endblock %}
	<br>
</body>
</html>