{% extends "base.html" %}

{% block content %}
    <div class='main'>

        <b>Your friends:</b>
        <br>
        {% if followers %}
            {% for member in followers %}
                {% if member in following %}
                    <a href="/social/members/?view={{ member.username }}"> {{ member.username }} </a>
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>


        <b>Your followers:</b>
        <br>
        {% if followers %}
            {% for member in followers %}
                {% if member not in following %}
                    <a href="/social/members/?view={{ member.username }}"> {{ member.username }} </a>
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>


        <b>You are following:</b>
        <br>

        {% if following %}
            {% for member in following %}
                {% if member not in followers %}
                    <a href="/social/members/?view={{ member.username }}"> {{ member.username }} </a>
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>


    </div>
{% endblock %}
