{% extends "base.html" %}

{% block content %}
    <div class='main'>
        {% if loggedin %}
            You are now logged in.
            <br><br>
        {% else %}
            {% if error %}
                <h3>{{ error }}</h3>
                <form method='POST' action='/social/login/'>
                    {% csrf_token %}
                    <span class='fieldname'>Username</span>
                    <input type='text' maxlength='16' name='username'>
                    <span id='info'></span>
                    <br>
                    <span class='fieldname'>Password</span>
                    <input type='password' maxlength='16' name='password'><br>
                    <input type='submit' value='Login'>
                </form>
            {% else %}
                <h3>Please enter your details to login:</h3>
                <form method='POST' action='/social/login/'>
                    {% csrf_token %}
                    <span class='fieldname'>Username</span>
                    <input type='text' maxlength='16' name='username'>
                    <span id='info'></span>
                    <br>
                    <span class='fieldname'>Password</span>
                    <input type='password' maxlength='16' name='password'><br>
                    <input type='submit' value='Login'>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
